.contact-wrapper {
  background: white;
  padding: 40px;
  max-width: 600px;
  margin: 50px auto; /* центрування */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
}

#contact-form h2 {
  text-align: center;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#contact-form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #005792;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #003f66;
}
