body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #000000;
}

header {
  background-color: #e96c23;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #000000;
  padding-top: 20px;
  margin-top: 0;
}

article {
  padding: 20px;
}

article h3 {
  color: #000000;
  margin-top: 0;
}

footer {
  background-color: #c07f1e;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 60px;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}