body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header {
  background: #1d1e1f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  padding: 40px 0;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px;
}

.card {
  background: white;
  width: 66%;
  max-width: 2000px;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  color: #005792;
}

.card-content p {
  font-size: 15px;
  color: #333;
}

.card-content a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #005792;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

footer a {
  color: #7ddcff;
  text-decoration: none;
}